* {
  box-sizing: border-box;
}
::-ms-reveal {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #424551;
  cursor: pointer;
}
ul,
li {
  list-style-type: none;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  scroll-behavior: smooth;
  color: #1e212c;
}
input,
select,
textarea {
  outline: none;
}
textarea[placeholder],
input[placeholder] {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #a5a6ab;
}
button {
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;
}
.container {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
}

#wrapper-modal-sing-in,
#wrapper-modal-sing-up {
  width: 100%;
  height: 100%;
  display: none;
}

#wrapper-modal-sing-in.active {
  display: block;
}
#wrapper-modal-sing-up.active {
  display: block;
}
#overlay,
#overlayup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #1e212c;
  opacity: 0.75;
}

#modal-window,
#modal-windowup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 486px;
  height: 653px;
  z-index: 2;
  border: 1px solid #e5e8ed;
  background-color: #ffffff;
  box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16),
    0px 26px 24px -10px rgba(30, 33, 44, 0.1),
    0px 12px 10px -6px rgba(30, 33, 44, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 48px;
  text-align: center;
}
#modal-windowup {
  height: 839px;
  transform: translate(-50%, -50%);
}
.modal-window-sing {
  color: #787a80;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
  display: block;
}
#burger,
[for="burger"],
nav {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  margin-top: 80px;
  background-color: rgb(255, 255, 255);
  padding: 30px;
  left: 0px;
  height: 380px;
  width: 100%;
  text-align: start;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  z-index: 1;
}
.navigation-check {
  margin-bottom: 20px;
  color: #424551;
  font-weight: bold;
}
[for="burger"]::before {
  content: "☰";
  font-size: 30px;
}
.btn-login {
  display: flex;
}
.header {
  background-position: center center;
  background-size: cover;
  background-image: url(img/header_bg.svg);
  background-color: #ffdad6;
  padding-top: 28px;
  padding-bottom: 72px;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headering_top {
  margin-bottom: 128px;
}
.logo_header {
  width: 130px;
  height: 22px;
}
.header_top_menu > li {
  margin-right: 40px;
  font-weight: bold;
}
.li_hover:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.header_top_menu > .first_chiled_menu {
  margin-right: 60px;
}
.header_top_menu > .last_chiled_menu {
  margin-right: 0;
}
.header_top_menu {
  display: flex;
}
.header_top_actions {
  display: flex;
  align-items: center;
}
.actions_consultation {
  margin-right: 36px;
}
.btn {
  font-weight: bold;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  color: #fff;
  padding: 15px 40px;
  display: inline-block;
}
.btn-about {
  margin-right: 24px;
}
.actions_login {
  font-weight: bold;
  padding: 15px 0;
  display: flex;
  align-items: center;
  color: #424551;
  font-size: 16px;
  line-height: 25px;
}
.login_img {
  margin-right: 8px;
}
.header_middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 189px;
}
.header_middle_play {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}
.play_img {
  margin-right: 16px;
  background-color: #ff3f3a;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* здесь начинается анимация */
  animation-name: boxShadow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes boxShadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(255 63 58 / 20%);
  }
  50% {
    box-shadow: 0px 0px 0px 15px rgb(255 63 58 / 20%);
  }
  100% {
    box-shadow: 0px 0px 0px 1px rgb(255 63 58 / 20%);
  }
}
.play_img:hover {
  cursor: pointer;
  background-color: #ff524d;
}
.header_middle_title {
  max-width: 500px;
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  margin-bottom: 60px;
}
.header_middle_right > img {
  height: 551px;
}
.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_bottom_strong {
  display: flex;
  align-items: center;
}
.strong {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  margin-right: 12px;
}
.ellipse {
  background-color: #ff3f3a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.info-text-event {
  width: 757px;
}
.btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about {
  border: #ff3f3a solid 1px;
  color: #ff3f3a;
  background: none;
}
h4 {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;
}
h2 {
  line-height: 1.3em;
  margin: 0;
  font-weight: 900;
  font-size: 46px;
}
.about_us {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(img/About_back.svg);
  padding-top: 188px;
  padding-bottom: 180px;
  background-color: #fff;
}
.text-text {
  margin-bottom: 40px;
}
.text > ul > li::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(img/check.svg);
  background-repeat: no-repeat;
  left: 0;
  top: 5px;
}
.text ul {
  width: 400px;
  padding-bottom: 22px;
}
.text li {
  margin-bottom: 12px;
  line-height: 25px;
  display: flex;
  position: relative;
  padding-left: 26px;
}
.more {
  padding: 15px 32px;
  font-size: 14px;
}
.ready {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 60px;
}
.card-content {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
.cards {
  margin-bottom: 30px;
  display: flex;
  border: 1px solid #E5E8ED;
  max-width: 600px;
  max-height: 214px;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.cards:hover {
  transform: scale(1.03);
  transition: 0.2s;
}
.card {
  margin: 32px;
  width: 322px;
}
.bad {
  border-radius: 4px;
  padding: 1px 8px;
  color: #fff;
  display: inline-flex;
  margin-bottom: 20px;
}
.green {
  background: #03cea4;
}
.blue {
  background: #5a87fc;
}
.orange {
  background: #f89828;
}
.pink {
  background: #f52f6e;
}
.badge {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 30px;
}
.speaker {
  font-size: 18px;
  line-height: 1.5em;
  color: #787a80;
}
.price {
  font-size: 18px;
  color: #ff4242;
}
.benefits {
  text-align: center;
  margin-bottom: 60px;
}
.tabs {
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #9a9ca5;
  align-items: center;
  margin-bottom: 60px;
}
.star {
  list-style-type: none;
}
.stars {
  padding: 10px 73px;
}
.feed {
  list-style-image: url(img/like.svg);
}
.online {
  list-style-image: url(img/Layouts.svg);
}
.community {
  list-style-image: url(img/Chat.svg);
}
.texty {
  width: 490px;
}
.benefits-tabs {
  margin-bottom: 120px;
}
h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.3em;
  margin-bottom: 24px;
}
.texty > p {
  line-height: 1.6em;
}
.our_events {
  background-position: center center;
  background-size: cover;
  background-image: url(img/Events_back.svg);
  background-color: #ffdad6;
}
.events {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 120px;
}
.event {
  background: #fff;
  max-width: 1230px;
  height: 126px;
  margin-bottom: 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 32px 40px 32px 40px;
  justify-content: space-between;
}
.do {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
.do > h3 {
  margin-right: 40px;
  margin-bottom: 0;
}
.event:hover {
  transition: 0.2s;
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
    0px 30px 24px -10px rgba(255, 63, 58, 0.1),
    0px 12px 10px -6px rgba(255, 63, 58, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.active:hover {
  background: linear-gradient(to bottom left, #f75e05, #ff3f3a);
  color: #fff;
  transition: 0.2s;
}
.info-text-event > p,
.info > p,
.date > p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 4px;
}
.info-text-event > span,
.info > span,
.date > span {
  color: #787a80;
  line-height: 25px;
}
.posts-info-text {
  display: flex;
  margin-bottom: 16px;
}
.posts-info-text {
  margin-bottom: 16px;
}
.info,
.date {
  text-align: left;
}
.dates {
  display: flex;
  align-items: center;
}
.num > p {
  color: #ff3f3a;
  font-size: 48px;
  font-weight: 900;
  margin-right: 20px;
  line-height: 62px;
}
.event-head > h2 {
  margin-bottom: 60px;
}
.createx > h2 {
  margin-bottom: 48px;
}
.createx > p {
  line-height: 1.6em;
  margin-bottom: 32px;
}
.createx > img {
  margin-right: 40px;
}
.certificat > img {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16),
    0px 30px 24px -10px rgba(154, 156, 165, 0.1),
    0px 12px 10px -6px rgba(154, 156, 165, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
}
.team {
  background: #f4f5f6;
  padding-bottom: 100px;
}
.teams {
  margin-top: -45px;
  padding-top: 166px;
  padding-bottom: 118px;
}
.team-heads {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.button {
  display: flex;
}
.team-people {
  display: flex;
  justify-content: space-between;
}
.team-card {
  justify-content: center;
  background-color: #ffcf2d;
  width: 285px;
  height: 340px;
  border-radius: 4px;
  padding-top: 20px;
  display: flex;
}
.people {
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 285px;
}
.slider {
  overflow: hidden;
  position: relative;
}
.line {
  transition: all ease 1s;
}
.people > p {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 4px;
}
.people > span {
  color: #787a80;
}
.show {
  background: url(img/gradient.png);
  position: absolute;
  margin-top: -20px;
  display: none;
}
.people:hover .show {
  display: block;
  transition: 0.5s;
}
.icon {
  margin-top: -40px;
  justify-content: flex-end;
  display: flex;
  margin-right: 20px;
}
.icon > a {
  margin-left: 12px;
}

.rewiews {
  background: #fff;
  max-width: 1020px;
  height: 344px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.rewiew {
  max-width: 1020px;
  padding: 64px 105px 64px 163px;
  flex-direction: column;
  position: relative;
}
.text-study {
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 0 24px 0;
}
.braces {
  position: absolute;
  top: 18%;
  left: 12%;
}
.study-user {
  display: flex;
}
.study-name {
  margin-left: 20px;
  margin-top: 11px;
}
.study-name > p {
  line-height: 1.6em;
  margin: 0 0 4px 0;
  font-weight: 700;
}
.study-name > span {
  color: #787a80;
  font-size: 14px;
  line-height: 1.5em;
}
.benefit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team_people_block {
  background-position: center center;
  background-size: contain;
  background-image: url(img/Background_team.svg);
  background-repeat: no-repeat;
}
.slider_team {
  background-position: center center;
  background-size: cover;
  background-image: url(img/slide_background.svg);
  background-repeat: no-repeat;
}
.slider-controls {
  display: flex;
  justify-content: center;
}
.control {
  background: url(img/control.svg) no-repeat;
  width: 30px;
  height: 3px;
  margin: 0 6px;
  cursor: pointer;
}
.control-active,
.control:active {
  background: url(img/controlactiv.svg) no-repeat;
}
.blogins {
  margin-bottom: 77px;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 180px;
}

.podcast {
  width: 85px;
  height: 23px;
  background: white;
  border-radius: 4px;
  position: absolute;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.5em;
  color: #424551;
}
.posts {
  max-width: 390px;
  margin-bottom: 16px;
}
.search {
  font-size: 16px;
  line-height: 25px;
  display: flex;
  font-weight: 700;
}
.divider {
  margin-left: 12px;
  margin-right: 12px;
}
.meta {
  align-items: center;
  display: flex;
}
.calendar {
  margin-right: 8px;
}
.search > a {
  margin-right: 8px;
  cursor: pointer;
}
.posts > p,
.meta {
  margin-bottom: 8px;
  max-width: 390px;
}
.blogvidblog {
  max-width: 495px;
}
.blogvidblog > .posts {
  max-width: 495px;
}
.blogvidblog > .posts > p {
  max-width: 495px;
}
.blogstatist {
  max-width: 705px;
}
.blogstatist > .posts,
.blogstatist > .posts > p {
  max-width: 705px;
}
.subscribe_input {
  background: #ffdad6;
}
.inputs {
  padding-bottom: 60px;
  max-width: 810px;
  margin: auto;
}
.input {
  justify-content: center;
  display: flex;
}
.btn-form {
  border: none;
  cursor: pointer;
}
.inp {
  color: #9a9ca5;
  line-height: 1.6em;
  padding-left: 16px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 422px;
  height: 52px;
  margin-right: 24px;
  color: #9a9ca5;
  font-size: 16px;
  outline: none;
}
.inputing {
  padding-top: 120px;
}
.inpimg {
  justify-content: space-between;
  display: flex;
  margin-top: -70px;
  height: 246px;
}
.footer {
  background: #1e212c;
  padding-top: 80px;
  color: white;
}
.foot {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}
.block-foot1 {
  max-width: 280px;
}
.logo-foot {
  margin-bottom: 24px;
}
.block-foot1 > p {
  font-size: 12px;
  line-height: 1.5em;
  color: #ffffff;
  opacity: 0.6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 38px;
  margin-top: 0;
}
.foot-p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-bottom: 16px;
}
.ul-foot {
  list-style-type: none;
  padding: 0;
}
.ul-foot > li {
  margin-bottom: 10px;
  line-height: 1.6em;
}
.li-foot {
  color: #a5a6ab;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.icon-foot {
  margin-right: 11px;
}
.icon-foot1 {
  padding-left: 3px;
}
.block-foot5 {
  width: 286px;
}
.subscribe {
  font-size: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.address {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 286px;
  height: 36px;
  margin-bottom: 12px;
  padding-left: 12px;
  color: #a5a6ab;
}
.arrowmail {
  right: 5%;
  top: 18%;
  position: absolute;
}
.form-footer {
  position: relative;
}
.footer_footer {
  background: #292c37;
}
.all-rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 58px;
}
.all-right {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.heart {
  margin-left: 4px;
  margin-right: 4px;
}
.go > a {
  color: #a9abaf;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
}
.arrow_red_search {
  justify-content: center;
  display: flex;
  align-items: center;
}
.header_course {
  padding-top: 28px;
  padding-bottom: 75px;
}
.createx_sertificate {
  padding-bottom: 120px;
}
.team_course {
  padding-top: 80px;
}
.header_top_course {
  margin-bottom: 0;
}
.our_online_courses {
  background-position: center center;
  background-size: contain;
  background-image: url(img/background_course.svg);
}
.our_styding {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.button_course {
  font-size: 16px;
  line-height: 25px;
  color: #9a9ca5;
  font-weight: 700;
}
.input_search_course {
  height: 44px;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 285px;
  padding-left: 16px;
  font-size: 14px;
  color: #8e8e8f;
}
.button_search_course {
  position: absolute;
  top: 30%;
  right: 5%;
}
.course_team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 80px;
}
.cards_course {
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  width: 390px;
  height: 438px;
}
.cards_course1 {
  margin-bottom: 30px;
}
.cards_course > img {
  display: flex;
}
.card_course {
  margin: 24px;
}
.button_convert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  color: #424551;
  font-weight: bold;
}
.button_convert > img {
  vertical-align: middle;
  margin-right: 16px;
}
.button_convert > img {
  animation-name: rot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.course_team_course {
  padding-bottom: 120px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ul-foot > li > a:hover {
  color: white;
}
.button_course:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.cards_course:hover {
  transform: scale(1.03);
  transition: 0.2s;
}
.name_red_html {
  color: #ff3f3a;
}
.event-blogs {
  border: 1px solid #e5e8ed;
}
.event-blogs:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.master-classes {
  background-position: center center;
  background-size: contain;
  background-image: url(img/background-blogs.svg);
  background-repeat: no-repeat;
}
.event-last-chiled {
  margin-bottom: 0;
}
.event-blogs:last-child {
  margin-bottom: 0;
}
.form-search-course {
  position: relative;
}
.illustration_blog {
  border: 1px solid #d7dadd;
  box-sizing: border-box;
  border-radius: 4px;
  width: 422px;
  height: 52px;
  margin-right: 24px;
  padding-left: 16px;
}
.illustration_blog_btn {
  width: 154px;
  height: 50px;
}
.input_illustration_blog {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.blog_h3_want {
  max-width: 600px;
  margin-bottom: 48px;
}
.header_middle-about {
  align-items: flex-end;
}
.slider_team-about {
  padding-top: 100px;
  background-image: url(img/Background-slider-team-about.svg);
}
.our-blog {
  padding-top: 120px;
}
.peoples {
  margin-bottom: 60px;
}
.do-single {
  padding-top: 85;
  padding-bottom: 185px;
}
.bloges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}
.active-blogs {
  display: flex;
}
.do-single {
  padding-top: 85;
  padding-bottom: 185px;
}
.bloges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}
.active-blogs {
  display: flex;
}
.foot-link {
  margin-right: 20px;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1025px;
  }
  .header_middle_right > img {
    margin-right: 0px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .posts > p,
  .posts > span,
  .meta,
  .info,
  .blog {
    max-width: 330px;
  }
  .meta {
    flex-wrap: wrap;
  }
  .cards {
    max-width: 50%;
    max-height: 160px;
  }
  .img > img {
    max-width: 100%;
  }
  .card {
    margin: 15px 0px 0px 40px;
  }
  .inpimg {
    display: none;
  }
  .subscribe_input {
    padding-bottom: 180px;
  }
  .events {
    margin-bottom: 80px;
  }
  .createx {
    padding-bottom: 80px;
  }
  .teams {
    margin-top: 0px;
    padding-top: 120px;
  }
  .badge,
  .bad {
    margin-bottom: 10px;
  }
  .actions_consultation {
    margin-right: 16px;
  }
  .image1 > img {
    width: 90%;
  }
  .people, .team-card, .show {
    width: 235px;
    height: auto;
}
.show{
  margin-top: 30px;
}
  .cards_course {
    max-width: 330px;
    height: auto;
  }
  .card_course {
    margin: 0px;
    padding: 20px;
  }
  .illustration_blog {
    max-width: 310px;
  }
  .blogstatist,
  .blog-stat-img,
  .blogstatist > .posts > p,
  .blogstatist > .posts > span,
  .blogstatist > .info {
    max-width: 585px;
  }
  .blogvidblog,
  .blogvid-img,
  .blogvidblog > .posts > p,
  .blogvidblog > .posts > span,
  .blogvidblog > .info {
    max-width: 410px;
  }
  .info-text-event {
    max-width: 550px;
  }
  .rewiews{
    max-width: 895px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 971px;
  }
  .li_hover,
  .btn-login {
    display: none;
  }
  [for="burger"] {
    display: block;
    width: 50px;
    text-align: center;
    position: fixed;
    right: 30px;
    border: 2px solid black;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    z-index: 2;
  }
  #burger:checked + label + nav {
    display: block;
  }
  .card-content {
    justify-content: center;
    margin-bottom: 100px;
  }
  .cards {
    max-width: 600px;
  }
  .blogs {
    flex-wrap: nowrap;
    margin-bottom: 100px;
  }
  .about_us {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .header_bottom_strong {
    display: block;
    text-align: center;
  }
  .foot {
    flex-wrap: wrap;
  }
  .cards_course {
    max-width: 310px;
  }
  .posts > p,
  .posts > span,
  .meta,
  .info,
  .blog {
    max-width: 300px;
  }
  .header_middle-about {
    align-items: center;
    flex-direction: column-reverse;
  }
  .bloggrid {
    flex-wrap: wrap;
  }
  .blogstatist,
  .blog-stat-img,
  .blogstatist > .posts > p,
  .blogstatist > .posts > span {
    max-width: 540px;
  }
  .blogvidblog,
  .blogvid-img,
  .blogvidblog > .posts > p,
  .blogvidblog > .posts > span {
    max-width: 380px;
  }
  .wrapper-blog-inp {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .imput__blog {
    text-align: center;
  }
  .input_illustration_blog {
    justify-content: center;
  }
  .imput__blog {
    padding-top: 20px;
  }
  .info-text-event {
    max-width: 450px;
  }
  .get-consultation-navigation {
    display: none;
  }
  .header_top {
    justify-content: flex-start;
  }
  .people, .team-card, .show{
    width: 230px;
    height: auto;
  }
  .rewiews{
    max-width: 850px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 779px;
  }
  .header_middle_title {
    font-size: 50px;
  }
  .header_middle {
    align-items: center;
    margin-bottom: 40px;
  }
  .block-foot1 {
    margin-bottom: 30px;
  }
  .benefit > .button {
    display: none;
  }
  .rewiew {
    padding: 64px 70px 64px 80px;
  }
  .braces {
    padding: 64px 30px;
  }
  .tabs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .feed,
  .online,
  .community {
    width: 100px;
  }
  .star,
  .feed,
  .online {
    margin-bottom: 20px;
  }
  .benefits-tabs {
    margin-bottom: 60px;
  }
  .createx > img {
    margin-right: 15px;
  }
  .header_top {
    margin-bottom: 40px;
  }
  .our_styding {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .our_styding > li {
    margin-bottom: 10px;
  }
  .card_course {
    max-width: 200px;
  }
  .cards_course {
    max-width: 245px;
  }
  .btn-events {
    display: none;
  }
  .posts > p,
  .posts > span,
  .meta,
  .info,
  .blog {
    max-width: 240px;
  }
  .blogstatist,
  .blog-stat-img,
  .blogstatist > .posts > p,
  .blogstatist > .posts > span {
    max-width: 440px;
  }
  .blogvidblog,
  .blogvid-img,
  .blogvidblog > .posts > p,
  .blogvidblog > .posts > span {
    max-width: 280px;
  }
  .info-text-event {
    max-width: 310px;
  }
  .btn-about {
    margin-bottom: 20px;
    margin-right: 0px;
    width: 193px;
    text-align: center;
  }
  .people, .team-card, .show {
    width: 170px;
    height: auto;
}
.show {
  margin-top: 20px;
}
.rewiews{
  max-width: 700px;
}
}

@media (max-width: 768px) {
  .container {
    max-width: 587px;
  }
  .header_middle {
    flex-direction: column-reverse;
    text-align: center;
  }
  .header_middle_title {
    font-size: 45px;
    max-width: none;
    margin-bottom: 30px;
  }
  .header_middle_left > a {
    justify-content: center;
  }
  .header_middle_right {
    margin-bottom: 30px;
  }
  .header_middle_right > img {
    width: 90%;
  }
  .header_top {
    margin-bottom: 0px;
  }
  h2 {
    font-size: 35px;
  }
  .wrapper {
    display: block;
    text-align: center;
  }
  .about_us {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .card-content {
    margin-bottom: 30px;
  }
  .texty,
  .text ul {
    width: auto;
  }
  .texty {
    text-align: center;
  }
  .benefits,
  .tabs {
    margin-bottom: 20px;
  }
  .benefits-tabs {
    margin-bottom: 0px;
  }
  .events {
    padding-top: 40px;
  }
  .event-head > h2 {
    margin-bottom: 30px;
  }
  .btn-about {
    margin-right: 20px;
  }
.blog{
  margin-bottom: 60px;
}
  .info > p {
    max-width: 560px;
  }
  .event {
    display: inline-block;
    height: auto;
    padding: 20px;
  }
  .createx {
    text-align: center;
  }
  .dates,
  .info {
    margin-bottom: 15px;
  }
  .team-card {
    width: 130px;
    height: auto;
  }
  .team-people {
    display: flex;
  }
  .people {
    width: 25%;
  }
  .people > p {
    font-size: 16px;
  }
  .people > span {
    font-size: 14px;
    text-align: center;
  }
  .team-heads {
    margin-bottom: 30px;
  }
  .teams {
    padding: 50px 0 50px 0;
  }
  .text-study {
    font-size: 16px;
  }
  .rewiew {
    padding: 20px;
  }
  .braces {
    display: none;
  }
  .rewiews {
    height: 311px;
    width: 400px;
  }
  .blogs {
    flex-wrap: wrap;
    justify-content: center;
  }
  .image1 {
    text-align: center;
  }
  .cards_course {
    max-width: 390px;
  }
  .card_course {
    max-width: 280px;
  }
  .course_team {
    justify-content: center;
  }
  .btn-course-all {
    display: flex;
  }
  .masterclass__category {
    text-align: center;
  }
  .posts > p,
  .posts > span,
  .meta,
  .info,
  .blog,
  .info-text-event {
    max-width: 260px;
  }
  .blogstatist,
  .blog-stat-img,
  .blogstatist > .posts > p,
  .blogstatist > .posts > span {
    max-width: 380px;
  }
  .blogvidblog,
  .blogvid-img,
  .blogvidblog > .posts > p,
  .blogvidblog > .posts > span,
  .info {
    max-width: 380px;
  }
  .blogs-single {
    justify-content: center;
  }
  .do-single {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .do-single > h3 {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .show > img {
    width: 130px;
  }
  .show {
    margin-top: 16px;
  }
  .icon{
    justify-content: center;  
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 500px;
  }

  .header_middle_right > img {
    height: 300px;
  }
  .header_bottom {
    display: none;
  }
  .texty,
  .text > ul {
    width: auto;
  }
  .ready {
    display: block;
  }
  .wrapper {
    text-align: start;
  }
  .ready > h2 {
    margin-bottom: 15px;
  }
  .learn,
  .ready {
    text-align: center;
  }
  .more,
  .btn,
  .about {
    text-align: center;
    display: block;
  }
  .btn-about {
    margin-bottom: 15px;
    margin-right: 0;
    max-width: 498px;
  }
  .do {
    display: block;
  }
  .do > h3 {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .team-heads {
    display: block;
  }
  .team-head {
    text-align: center;
    margin-bottom: 15px;
  }
  .inp {
    margin-right: 10px;
  }
  .badge {
    max-width: 300px;
  }
  .cards {
    max-height: 422px;
    width: 352px;
    display: block;
    text-align: center;
  }
  .card {
    margin-left: 0px;
    width: 200px;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 0px;
  }
  .img {
    background: #ffcf2d;
    height: 210px;
    width: 350px;
  }
  .card,
  .badge {
    width: 350px;
    padding-left: 0px;
  }
  .our-blog,
  .inputing {
    padding-top: 50px;
  }
  .blogs {
    margin-bottom: 50px;
  }
  .subscribe_input {
    padding-bottom: 50px;
  }
  .foot {
    text-align: center;
    justify-content: space-around;
  }
  .block-foot1 {
    max-width: 400px;
  }
  .block-foot4 {
    padding: 30px 0 35px 0;
  }
  .footer_footer {
    text-align: center;
  }
  .team-card, .people {
    width: 100px;
    height: auto;
  }
  .card_course {
    padding-left: 15px;
  }
  .cards_course {
    margin-bottom: 30px;
  }
  .course_team_course {
    padding-bottom: 60px;
  }
  .course_team {
    margin-bottom: 40px;
  }
  .blogstatist,
  .blog-stat-img,
  .blogstatist > .posts > p,
  .blogstatist > .posts > span {
    max-width: 250px;
  }
  .blogvidblog,
  .blogvid-img,
  .blogvidblog > .posts > p,
  .blogvidblog > .posts > span {
    max-width: 250px;
  }
  .input_illustration_blog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .illustration_blog {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .blog__agree {
    width: 250px;
  }
  .show > img {
    width: 100px;
    margin-top: -9px;
  }
  .show {
    margin-top: 20px;
  }
  .header_middle_about > .btn {
    display: inline-flex;
  }
  .btn-about {
    justify-content: center;
  }
  .slides-card{
    width: auto;
    flex-direction: column;
    text-align: start;
    height: 360px;
  }
  .slides-card>.img{
    width: 448px;
    display: flex;
    justify-content: center;
  }
  .slides-card>.card{
    padding-left: 10px;
  }
}
@media (max-width: 500px) {
  .container{
    max-width: 90;
  }
  .slides-card>.img{
    max-width: 100%;
  }
  .actions_consultation {
    display: none;
  }
  .get-consultation-navigation {
    display: block;
  }
  nav {
    height: 450px;
    position: fixed;
  }
  nav > ul {
    position: absolute;
  }
  #modal-windowup,
  #modal-window {
    width: 400px;
  }
  [for="burger"] {
    padding: 0px;
  }
  .team-people{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .button{
    display:none;
  }
  .people, .team-card, .show, .show>img {
    width: 120px;
    height: auto;
}
.show>img{
 margin-top: 1px;
}

}
@media (max-width: 420px) {
  .container {
    width: 90%;
  }
  .texty,
  .text > ul {
    width: auto;
  }
  .rewiews {
    height: 345px;
    max-width: 320px;
  }
  .block-foot4 > ul {
    display: flex;
  }
  .info,
  .info-text-event {
    max-width: 230px;
  }
  .input {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .inp {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .btn-form {
    width: 300px;
  }
  #modal-windowup,
  #modal-window {
    width: 300px;
    padding: 10px;
  }
  .blogdesign {
    max-width: 230px;
  }
  .slides-card{
    height: 400px;
  }
  .badge{
    max-width: 200px;
  }
}
@media (max-width: 400px) {
  .container {
    width: 90%;
  }
  .people {
    width: 145px;
    height: auto;
  }
  .team-card {
    width: 150px;
  }
  .show > img {
    width: 150px;
  }
  .show {
    margin-top: 20px;
  }
  .wrapper-blog-inp > img {
    max-width: 90%;
  }
  .rewiews{
    max-width: 280px;
    height:400px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 90%;
  }
  .texty,
  .text > ul {
    width: auto;
  }
  .card,
  .badge,
  .img,
  .cards {
    width: 245px;
  }
  .inp,
  .btn-form {
    width: 250px;
  }
  .input_search_course {
    width: 200px;
  }
  .rewiews {
    height: 385px;
  }
  .people {
    width: 120px;
  }
  .team-card {
    width: 120px;
    height: auto;
  }
  .block-foot4 > ul {
    display: block;
  }

  .blogstatist,
  .blog-stat-img,
  .blogstatist > .posts > p,
  .blogstatist > .posts > span {
    max-width: 250px;
  }
  .blogvidblog,
  .blogvid-img,
  .blogvidblog > .posts > p,
  .blogvidblog > .posts > span {
    max-width: 250px;
  }
  .illustration_blog {
    width: 280px;
  }
  .cards_course {
    max-width: 245px;
  }
  .input_search_course {
    width: 270px;
  }
  .show > img {
    width: 120px;
  }
  .show {
    margin-top: 16px;
  }
}
